body {
    background-color: white;
    margin: 0;
}
#tophead {
    background-color: #555b6e;
    color: white;
    margin: 0;
    padding: 0;
    height: 100px;
    text-align: center;
}
.nav {
    overflow: hidden;
    background-color: #bee3db;
    color: black;
}
.nav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}
.nav a.active {
    background-color: #555b6e;
    color: white;
}
.nav a:hover {
    background-color: #555b6e;
    color: white;
}
footer {
    background-color: lightgray;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 5px;
    position: fixed;
}


.wrapperOther{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.otherText {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    background-color: #ffd6ba;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
}
.gottiText {
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    background-color: #ffd6ba;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
    height: fit-content;
}
.gottiPhoto {
    max-width: 100%;
    max-height: 50%;
    grid-column: 2;
    grid-row: 2;
    border: 5px solid #555b6e;
    border-radius: 25px;
}
video {
    width: 100%;
    grid-column: 2;
    grid-row: 1;
    margin: 5%;
    max-width: 90%;
    border: 5px solid #555b6e;
    border-radius: 25px;
}


.wrapperElon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}
.elonImg1 {
    grid-column: 2 / 5;
    grid-row: 1;
    width: 100%;
    padding: 15px;
    max-width: 300px;
    margin: 0 auto;
}
.elonSubtitle {
    grid-column: 2 / 5;
    grid-row: 2;
    text-align: center;
}
.elonText1 {
    grid-column: 2 / 5;
    grid-row: 3;
    background-color: #ffd6ba;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
}
.elonAct {
    grid-column: 3;
    grid-row: 5;
    text-align: center;
    margin-bottom: 20%;
    width: fit-content;
}
.elonBox {
    background-color: #ffd6ba;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
}
.elonItems {
    padding: 5px;
    text-align: center;
    
    
}
.elonList {
    padding: 2px;
    margin: 15px;
    list-style-type: none;
    

}


.wrapperBoston {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.buImg {
    width: 100%;
    grid-column: 2 / 6;
    grid-row: 1;
    max-width: 350px;
    margin: 0 auto;
}
.buLink {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 2;
    color: #555b6e;

}
.buText1 {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 3;
    background-color: #ffd6ba;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
}
.buTableHead1 {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 4;
}
.buTable1 {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 5;
    max-width: 100%;
    background-color: #ffd6ba;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
}
.buTableHead2 {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 6;
}
.buTable2 {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 7;
    margin-bottom: 10%;
    background-color: #ffd6ba;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
    max-width: 100%;
}


.wrapperWork {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}
.workTitle {
    grid-column: 2 / 6;
    grid-row: 1;
    text-align: center;
    padding: 8%;
}
.fidelityLink {
    grid-column: 3 / 5;
    grid-row: 2;
}
.fidelityImg {
    grid-column: 3 / 5;
    grid-row: 2;
    max-width: 100%;
    max-height: 100%;
}
.fidelityText {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 3;
    background-color: #ffd6ba;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
}
.eyLink{
    grid-row: 4;
    grid-column: 3 / 5;
}
.eyImg {
    grid-row: 4;
    grid-column: 3 / 5;
    max-height: 100%;
    max-width: 100%;
    
}
.eyText {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 5;
    background-color: #ffd6ba;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
}
.formBtn {
    grid-row: 6;
    grid-column: 3 / 5;
}
.resumeBtn {
    background-color: #ffd6ba;
    margin-bottom: 10%;
    border: 5px solid #555b6e;
    border-radius: 25px;
    font-size: 20px;
    padding: 5px;
}
.resumeBtn:hover {
    color: white;
    background-color: #555b6e;
}


.wrapperHome {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    justify-items: center;
}
.personalImg{
    grid-column: 1 / 2;
    grid-row: 1;
    width: 100%;
    margin: 7%;
    border-style: solid;
}
.homeTitle {
    grid-column: 2 / 7;
    text-align: center;
}
.homeHead1{
    grid-column: 1 / 4;
    text-align: center;
    grid-row: 2;
}
.homeText1 {
    grid-column: 1 / 4;
    text-align: center;
    grid-row: 3;
}
.homeHead2 {
    grid-column: 4 / 7;
    grid-row: 2;
    text-align: center;
}
.homeText2 {
    grid-column: 4 / 7;
    grid-row: 3;
    text-align: center;
}
.boxDesignLeft {
    grid-column: 1 / 4;
    grid-row: 2;
    background-color: #ffd6ba;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
}
.boxDesignRight {
    grid-column: 4 / 7;
    background-color: #ffd6ba;
    grid-row: 2;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
}


.wrapperClass {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
}
.classHead1 {
    grid-column: 1 / 4;
    text-align: center;
    grid-row: 2;
}
.classText1 {
    grid-column: 1 / 4;
    text-align: center;
    grid-row: 3;
}
.classHead2 {
    grid-column: 4 / 7;
    grid-row: 2;
    text-align: center;
}
.classText2 {
    grid-column: 4 / 7;
    grid-row: 3;
    text-align: center;
}


.wrapperAbout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.aboutTop {
    grid-column: 2 / 6;
    grid-row: 1;
    background-color: #ffd6ba;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
}
.aboutHead1 {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 1;
}
.aboutText1 {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 2;
}
.aboutBottom {
    grid-column: 2 / 6;
    grid-row: 2;
    background-color: #ffd6ba;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
}
.aboutHead2 {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 3;
}
.aboutText2 {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 4;
}
.contactForm {
    grid-column: 3 / 5;
    grid-row: 5;
    width: 100%;
    background-color: #ffd6ba;
    padding: 2%;
    margin: 5%;
    border: 5px solid #555b6e;
    border-radius: 25px;
    margin-bottom: 50%;
}
.contactHead{
    text-align: center;
}
input[type=text], textarea {
    padding: 10px;
    border: 1px solid #bee3db;
    margin-top: 5px;
    margin-bottom: 15px;
}
input[type=submit] {
    background-color: #bee3db;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
}
input[type=submit]:hover {
    background-color: #555b6e;
    color: white;
    
}
